<div class="container text-center">
  <h1>About Page</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community
<<<<<<< HEAD
  developers and entrepreneurs to meet.</p>
</div>
=======
  for developers and entrepreneurs to meet.
  </p>
</div
>>>>>>> 2b371016bf27fd7ce102e4d142fae162d623c527
